admittance_perturbation:
  sigma: 0.2
  type: random_perturbation
generation_perturbation:
  sigma: 1.0
  type: cost_permutation
load:
  agg_profile: default
  change_reactive_power: true
  generator: agg_load_profile
  global_range: 0.4
  max_scaling_factor: 4.0
  scenarios: 10000
  sigma: 0.2
  start_scaling_factor: 1.0
  step_size: 0.1
network:
  name: case24_ieee_rts
  network_dir: none
  source: pglib
settings:
  data_dir: ./data_out
  dcpf_fast: true
  enable_solver_logs: true
  include_dc_res: true
  large_chunk_size: 2250
  max_iter: 350
  mode: pf
  num_processes: 16
  overwrite: true
  pf_fast: true
  seed: null
topology_perturbation:
  elements:
  - branch
  - gen
  k: 1
  n_topology_variants: 20
  type: random
droop_control:
  enable: true
  type: "frequency_and_voltage"
  R_p_range: [0.03, 0.05]
  R_q_range: [0.02, 0.04]
  f_nominal: 60.0
  randomize_droop: true

droop_control:
  enabled: true              # Turn droop on/off
  omega_0: 1.0               # Reference frequency (pu)
  V_0: 1.0                   # Reference voltage (pu)
  droop_buses: [1, 2, 5]     # List of bus indices with droop
  mp: 0.05                   # Active power droop coefficient
  mq: 0.05                   # Reactive power droop coefficient